.word-space > .red {
    background-color: green;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row > .orange {
    background-color: orange;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.theme-animation {
    height: 60vh;
    background-color: blue;
}

.theme-image {
    height: 40vh;
    background-color: pink
}

.current-word {
    font-size: 30px;
    line-height: 2em;
}