.word-space > .current-word {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row > .letter-grid {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.theme-animation {
    height: 30vh;
    align-items: center;
}

.current-word {
    font-size: 30px;
    line-height: 2em;
    color: white;
}

.score-board {
    height: 40vh;
    align-items: center
}

.score-board-text{
    text-align: center;
    padding: 0;
    color: white;
}

.change-theme{
    height: 30vh;
    align-items: center;
}

.theme-select {
    padding: 0;
    text-align: center;
    color: white
}


.theme-select > .doctor-who {
    color: white;
}

.game-board > .game-board-bg {
    background-image: linear-gradient(70deg, #0f0c29, #302b63, #24243e)
}

.game-board {
    position: relative
}

.modal {
    position: absolute;
    top: 0px;
    left: 15px;
    z-index: 3;
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.show-modal{
    display: flex;
}