.doctor_who {
  font-size: 28px;
  margin-bottom: 0;
  font-family: "Righteous", cursive;
}

.pokemon {
  font-size: 28px;
  margin-bottom: 0;
  font-family: 'Bangers', cursive;
}

.harry_potter {
  font-size: 28px;
  margin-bottom: 0;
  font-family: 'Cinzel Decorative', cursive;
}



.title {
  -webkit-animation: color-change 24s infinite alternate;
  text-align: center;
}

@-webkit-keyframes color-change {
  0% {
    color: red;
  }
  20% {
    color: navajowhite;
  }
  40% {
    color: teal;
  }
  60% {
    color: navajowhite;
  }
  80% {
    color: goldenrod;
  }
  100%{
      color: navajowhite;
  }
}

