.modal > .themes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    border-radius: 5px;
    color: white;
    width: 33vw
}

.themes > .doctor-who {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0px;
}