@import url(https://fonts.googleapis.com/css?family=Righteous|Bangers|Cinzel+Decorative|Nothing+You+Could+Do);

.letter-holder{
  float: left;
  width: 60px;
  height: 60px;
  transition: all 0.6s ease;
  transform-style: preserve-3d;
  margin: 2.5px;
  perspective: 700;
}

.show-picture{
  float: left;
  width: 60px;
  height: 60px;
  transition: all 1.0s ease;
  transform-style: preserve-3d;
  margin: 0px;
  perspective: 700;
}

.flipped {
  transform: rotateY(-180deg);
}

.letter-holder > .back,
.show-picture > .back {
  transform: rotateY(180deg);
  padding-top: 10px;
}

.letter-holder > .front,
.show-picture > .front{
  align-items: center;
  justify-content: center;
}

.doctor_who > .letter-holder > .front {
  background-color: rgb(50, 112, 186);
}

.pokemon > .letter-holder > .front {
  background-color: rgb(194, 24, 7)
}

.harry_potter > .A > .front,
.harry_potter > .E > .front,
.harry_potter > .I > .front,
.harry_potter > .M > .front,
.harry_potter > .Q > .front,
.harry_potter > .U > .front,
.harry_potter > .Y > .front {
    background: linear-gradient(-45deg, rgb(178, 34, 0) 70%, rgb(178, 34, 0), gold 10%);
}

.harry_potter > .B > .front,
.harry_potter > .F > .front,
.harry_potter > .J > .front,
.harry_potter > .N > .front,
.harry_potter > .R > .front,
.harry_potter > .V > .front,
.harry_potter > .Z > .front {
  background: linear-gradient(-135deg, #000A90 70%, #000A90,  #946B2D 10%)
}

.harry_potter > .C > .front,
.harry_potter > .G > .front,
.harry_potter > .K > .front,
.harry_potter > .O > .front,
.harry_potter > .S > .front,
.harry_potter > .W > .front {
  background: linear-gradient(45deg, black 70%, black, yellow 10%)
}

.harry_potter > .D > .front,
.harry_potter > .H > .front,
.harry_potter > .L > .front,
.harry_potter > .P > .front,
.harry_potter > .T > .front,
.harry_potter > .X > .front {
  background: linear-gradient(135deg, #0D6217 70%, #0D6217, #AAAAAA 10%)
}

.letter-holder > .front,
.letter-holder > .back,
.show-picture > .back,  
.show-picture > .front{
  position: absolute;
  width: 60px;
  height: 60px;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  box-shadow: 0px 2px 5px gray;
}

.show-picture > .back{
  border-radius: 0px;
}
.alpha-image {
  border-radius: 10px;
}

.letters{
  font-size: 28px;
  color: white;
  margin-bottom: 0;
  font-family: 'Righteous', cursive;
}

/*Setting Up Pixel Images*/

.A{
  background-position: 0px 0px;
}

.B{
  background-position: -60px 0px;
}

.C{
  background-position: -120px 0px;
}

.D{
  background-position: -180px 0px;
}

.E{
  background-position: -240px 0px;
}

.F{
  background-position: -300px 0px;
}

.G{
  background-position: -360px 0px;
}

.H{
  background-position: 0px -60px;
}

.I{
  background-position: -60px -60px;
}

.J{
  background-position: -120px -60px;
}

.K{
  background-position: -180px -60px;
}

.L{
  background-position: -240px -60px;
}

.M{
  background-position: -300px -60px
}

.N{
  background-position: -360px -60px;
}

.O{
  background-position: 0px -120px;
}

.P{
  background-position: -60px -120px;
}

.Q{
  background-position: -120px -120px;
}

.R{
  background-position: -180px -120px;
}

.S{
  background-position: -240px -120px;
}

.T{
  background-position: -300px -120px;
}

.U{
  background-position: -360px -120px;
}

.V{
  background-position: -60px -180px;
}

.W{
  background-position: -120px -180px;
}

.X{
  background-position: -180px -180px;
}

.Y{
  background-position: -240px -180px;
}

.Z{
  background-position: -300px -180px;
}

/* Iphone 6/7/8 Portrait */
@media screen and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait){

  .letter-holder,
  .show-picture,
  .letter-holder > .front,
  .letter-holder > .back,
  .show-picture > .back,  
  .show-picture > .front{
    width: 60px;
    height: 60px;
}

  .A{
    background-position: 0px 0px;
  }
  
  .B{
    background-position: -60px 0px;
  }
  
  .C{
    background-position: -120px 0px;
  }
  
  .D{
    background-position: -180px 0px;
  }
  
  .E{
    background-position: -240px -0px;
  }
  
  .F{
    background-position: 0px -60px;
  }
  
  .G{
    background-position: -60px -60px;
  }
  
  .H{
    background-position: -120px -60px;
  }
  
  .I{
    background-position: -180px -60px;
  }
  
  .J{
    background-position: -240px -60px;
  }
  
  .K{
    background-position: 0px -120px;
  }
  
  .L{
    background-position: -60px -120px;
  }
  
  .M{
    background-position: -120px -120px
  }
  
  .N{
    background-position: -180px -120px;
  }
  
  .O{
    background-position: -240px -120px;
  }
  
  .P{
    background-position: -0px -180px;
  }
  
  .Q{
    background-position: -60px -180px;
  }
  
  .R{
    background-position: -120px -180px;
  }
  
  .S{
    background-position: -180px -180px;
  }
  
  .T{
    background-position: -240px -180px;
  }
  
  .U{
    background-position: -0px -240px;
  }
  
  .V{
    background-position: -60px -240px;
  }
  
  .W{
    background-position: -120px -240px;
  }
  
  .X{
    background-position: -180px -240px;
  }
  
  .Y{
    background-position: -240px -240px;
  }
  
  .Z{
    background-position: -120px -300px;
  }
}

@media screen
and (min-device-width : 736px)
and (orientation : landscape){

    .letter-grid{
      padding-left: 40px;
      padding-right: 40px;
    }

}

