.flipped > .doctor-who{
    background-image: url('../../images/Doctor_Who/doctorwho.jpg');
}

.flipped > .david-tennant{
    background-image: url('../../images/Doctor_Who/david_tennant.jpg');
}

.flipped > .matt-smith{
    background-image: url('../../images/Doctor_Who/matt_smith.jpg');
}

.flipped > .tardis{
    background-image: url('../../images/Doctor_Who/tardis.jpg');
}

.flipped > .daleks{
    background-image: url('../../images/Doctor_Who/dalek.jpg');
}

.flipped > .cybermen{
    background-image: url('../../images/Doctor_Who/cybermen.jpg');
}

.flipped > .gallifrey{
    background-image: url('../../images/Doctor_Who/gallifrey.jpg');
}

.flipped > .time-lord{
    background-image: url('../../images/Doctor_Who/time_lord.jpg');
}

.flipped > .the-master{
    background-image: url('../../images/Doctor_Who/the_master.jpg');
}

.flipped > .companion{
    background-image: url('../../images/Doctor_Who/companions.jpg');
}

/* Harry Potter */

.flipped > .harry-potter {
    background-image: url('../../images/Harry_Potter/harry.jpg')
}

.flipped > .sirius-black {
    background-image: url('../../images/Harry_Potter/siruis_black.jpg')
}

.flipped > .albus-dumbledore {
    background-image: url('../../images/Harry_Potter/dumbledore.jpg')
}

.flipped > .wizard {
    background-image: url('../../images/Harry_Potter/wizard.jpg')
}

.flipped > .hermione-granger {
    background-image: url('../../images/Harry_Potter/hermione_granger.jpg')
}

.flipped > .ron-weasley {
    background-image: url('../../images/Harry_Potter/ron_weasley.jpg')
}

.flipped > .hogwarts {
    background-image: url('../../images/Harry_Potter/hogwarts.jpg')
}

.flipped > .lord-voldemort {
    background-image: url('../../images/Harry_Potter/lord_voldermorte.jpg')
}


/* Pokemon */


.flipped > .pikachu {
    background-image: url('../../images/Pokemon/pikachu.jpg')
}

.flipped > .squirtle {
    background-image: url('../../images/Pokemon/squirtle.png')
}

.flipped > .charzard{
    background-image: url('../../images/Pokemon/charzard.jpg')
}