@import url(https://fonts.googleapis.com/css?family=Righteous);

.letter-holder{
  float: left;
  width: 60px;
  height: 60px;
  transition: all 0.6s ease;
  transform-style: preserve-3d;
  margin: 2.5px;
  perspective: 700;
}

.show-picture{
  float: left;
  width: 60px;
  height: 60px;
  transition: all 1.0s ease;
  transform-style: preserve-3d;
  margin: 0px;
  perspective: 700;
}

.flipped {
  transform: rotateY(-180deg);
}

.letter-holder > .back,
.show-picture > .back {
  transform: rotateY(180deg);
  padding-top: 10px;
}

.letter-holder > .front,
.show-picture > .front{
  background-color: rgb(50, 112, 186);
  align-items: center;
  justify-content: center;
}

.letter-holder > .front,
.letter-holder > .back,
.show-picture > .back,  
.show-picture > .front{
  position: absolute;
  width: 60px;
  height: 60px;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  box-shadow: 0px 2px 5px gray;
}

.show-picture > .back{
  border-radius: 0px;
}
.alpha-image {
  border-radius: 10px;
}

.letters{
  font-size: 28px;
  color: white;
  margin-bottom: 0;
  font-family: 'Righteous', cursive;
}

/*Setting Up Pixel Images*/

.A{
  background-position: 0px 0px;
}

.B{
  background-position: -60px 0px;
}

.C{
  background-position: -120px 0px;
}

.D{
  background-position: -180px 0px;
}

.E{
  background-position: -240px 0px;
}

.F{
  background-position: -300px 0px;
}

.G{
  background-position: -360px 0px;
}

.H{
  background-position: 0px -60px;
}

.I{
  background-position: -60px -60px;
}

.J{
  background-position: -120px -60px;
}

.K{
  background-position: -180px -60px;
}

.L{
  background-position: -240px -60px;
}

.M{
  background-position: -300px -60px
}

.N{
  background-position: -360px -60px;
}

.O{
  background-position: 0px -120px;
}

.P{
  background-position: -60px -120px;
}

.Q{
  background-position: -120px -120px;
}

.R{
  background-position: -180px -120px;
}

.S{
  background-position: -240px -120px;
}

.T{
  background-position: -300px -120px;
}

.U{
  background-position: -360px -120px;
}

.V{
  background-position: -60px -180px;
}

.W{
  background-position: -120px -180px;
}

.X{
  background-position: -180px -180px;
}

.Y{
  background-position: -240px -180px;
}

.Z{
  background-position: -300px -180px;
}
