.flipped > .doctor-who{
    background-image: url('../../images/Doctor_Who/doctorwho.jpg');
}

.flipped > .david-tennant{
    background-image: url('../../images/Doctor_Who/david_tennant.jpg');
}

.flipped > .matt-smith{
    background-image: url('../../images/Doctor_Who/matt_smith.jpg');
}

.flipped > .tardis{
    background-image: url('../../images/Doctor_Who/tardis.jpg');
}

.flipped > .daleks{
    background-image: url('../../images/Doctor_Who/dalek.jpg');
}

.flipped > .cybermen{
    background-image: url('../../images/Doctor_Who/cybermen.jpg');
}

.flipped > .gallifrey{
    background-image: url('../../images/Doctor_Who/gallifrey.jpg');
}

.flipped > .time-lord{
    background-image: url('../../images/Doctor_Who/time_lord.jpg');
}

.flipped > .the-master{
    background-image: url('../../images/Doctor_Who/the_master.jpg');
}

.flipped > .companion{
    background-image: url('../../images/Doctor_Who/companions.jpg');
}