.doctor-who{
    background-image: url('../../images/Doctor_Who/doctorwho.jpg');
}

.david-tennant{
    background-image: url('../../images/Doctor_Who/david_tennant.jpg');
}

.matt-smith{
    background-image: url('../../images/Doctor_Who/matt_smith.jpg');
}

.tardis{
    background-image: url('../../images/Doctor_Who/tardis.jpg');
}

.daleks{
    background-image: url('../../images/Doctor_Who/dalek.jpg');
}

.cybermen{
    background-image: url('../../images/Doctor_Who/cybermen.jpg');
}

.gallifrey{
    background-image: url('../../images/Doctor_Who/gallifrey.jpg');
}

.time-lord{
    background-image: url('../../images/Doctor_Who/time_lord.jpg');
}

.the-master{
    background-image: url('../../images/Doctor_Who/the_master.jpg');
}

.companion{
    background-image: url('../../images/Doctor_Who/companions.jpg');
}