.word-space > .current-word {
    /* height: 30vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.row > .letter-grid {
    /* height: 70vh; */
    display: flex;
    flex-wrap: wrap;
    /* align-content: center; */
    justify-content: center;
}

.theme-animation {
    height: 30vh;
    align-items: center;
}

.current-word {
    font-size: 30px;
    line-height: 2em;
    color: white;
}


.score-board {
    height: 40vh;
    align-items: center
}

.score-board-text{
    text-align: center;
    padding: 0;
    font-size: 22px;
    line-height: 1em;
}

.score-board > .doctor_who,
.score-board > .harry_potter {
    color: white;
}

.pokemon > .current-word,
.score-board > .pokemon,
.theme-select > .pokemon {
    color: white;
    font-size: 30px
}

.theme-select > .pokemon {
    font-size: 24px;
}


.change-theme{
    height: 30vh;
    align-items: center;
    font-size: 22px;
}

.theme-select {
    /* padding: 0; */
    text-align: center;
}

.theme-select > .doctor_who,
.theme-select > .harry_potter {
    color: white;
}


.game-board > .doctor_who {
    background-image: linear-gradient(70deg, #0f0c29, #302b63, #24243e)
}

.game-board > .pokemon {
    background-image: linear-gradient(145deg, white 1%, #2b32b2, #2b32b2 10%, #2b32b2, #2b32b2, white 95%)
}

/* .game-board > .harry_potter {
    background-image: url('images/Harry_Potter/map.gif');
    background-size: cover;
    background-repeat: no-repeat
} */

.game-board {
    position: relative
}

.modal {
    position: absolute;
    top: 0px;
    left: 15px;
    z-index: 3;
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.show-modal{
    display: flex;
}

/* Iphone 6/7/8 Portrait */
@media screen 
and (min-device-width : 375px)
and (orientation : portrait){
        
    .theme-animation,
    .score-board,
    .change-theme {
        height: 10vh;
    }
    
    .score-board-text,
    .theme-select > .pokemon,
    .theme-select > .doctor_who,
    .theme-select > .harry_potter{
        font-size: 18px;
        margin-top: 0;
    }
}

/* Iphone 6/7/8 Plus LandScape */
@media screen
and (min-device-width : 736px)
and (orientation : landscape){
    .alpha-town {
        padding-left: 25px;
        padding-right: 20px;
    }

    row > .letter-grid {
        padding-left: 55px;
        padding-right: 55px;
    }

}

/* Iphone X LandScape */
@media screen
and (min-device-width : 812px)
and (orientation : landscape){
    .alpha-town {
        padding-left:70px;
    }
}
